
@model TouristAttraction
@{
    ViewData["Title"] = Model.Active ? "Inhabilitación de atracción turística" : "Habilitación de atracción turística";
    var formAction = (Model.Active ? "Disable" : "Enable");
    var formButtonName = (Model.Active ? "Inhabilitar" : "Habilitar");
}
<h3>Actualización de atracción turística</h3>
<form action="@formAction" method="post">
    @if (ViewBag.Enabled != null)
    {
        <div class="alert alert-danger alert-dismissible fade show">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p>Atracción turística @(Model.Active ? "habilitada" : "inhabilitada") exitosamente</p>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

    }
    <div class="form-row">
        <div class="form-group col-md-5">
            <label name="CountryId" for="countrySelect">País</label>
            <input type="text" value="@Model.City?.Country?.Name" required readonly class="form-control" />

        </div>
        <div class="form-group offset-md-1 col-md-5">
            <label for="Attraction_CityId">Ciudad</label>

            <input type="text" value="@Model.City?.Name" required readonly class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="Attraction_Name">Nombre de la atracción turística</label>
            <input type="text" value="@Model.Name" readonly class="form-control" />
        </div>
        <div class="form-group offset-md-1 col-md-5">

            <label for="Attraction_Address">Dirección de la atracción turística</label>
            <textarea value="@Model.Address" readonly class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">

            <label for="Attraction_Geoposition_Latitude">Latitud</label>
            <input type="number" step="0.0000001" value="@Model.Geoposition.Latitude" readonly class="form-control" />
        </div>
        <div class="form-group offset-md-1 col-md-5">
            <label for="Attraction_Geoposition_Longitude">Longitud</label>
            <input type="number" step="0.0000001" value="@Model.Geoposition.Longitude" readonly class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="Attraction_GooglePlaceId">Google Place Id</label>
            <input type="text" value="@Model.GooglePlaceId" readonly class="form-control" />
        </div>
        <div class="form-group offset-md-1 col-md-5">
            <label name="Attraction_CategoryId" for="countrySelect">Categoría</label>
            <input type="text" value="@Model.Category?.Name" required readonly class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <div class="form-group offset-md-1 col-md-5">
                <label for="Attraction_WebsiteUrl">URL Sitio web</label>
                <input type="text" value="@Model.WebsiteUrl" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group offset-md-1 col-md-5">
            <div class="form-group offset-md-1 col-md-5">
                <label for="Attraction_PhoneNumber">Número de teléfono para la atracción</label>
                <input type="text" value="@Model.PhoneNumber" class="form-control" readonly />
            </div>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <div class="form-group offset-md-1 col-md-5">
                <div class="form-group offset-md-1 col-md-5">
                    <label for="Attraction_Rating">Rating</label>
                    <input type="number" step="0.01" value="@Model.Rating" class="form-control" readonly />
                </div>
            </div>
        </div>
    </div>

    <input type="number" name="id" value="@Model.Id" hidden />
    <button type="submit" class="btn btn-primary">@formButtonName</button>
</form>
<br />

